name: Bump Version

on:
  workflow_dispatch:

jobs:
  bump-version:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Install Rust
        uses: actions-rs/toolchain@v1
        with:
          toolchain: stable
          override: true

      - name: Install cargo-edit
        run: cargo install cargo-edit

      - name: Bump version and extract value
        id: bump_cargo
        run: |
          cargo set-version --bump patch
          NEW_VERSION=$(grep -m 1 '^version' wingfoil/Cargo.toml | awk -F'"' '{print $2}')
          echo "new_version=$NEW_VERSION" >> $GITHUB_OUTPUT

      - name: Update conf.py with new version
        run: |
          NEW_VERSION="${{ steps.bump_cargo.outputs.new_version }}"
          CONF_PATH="wingfoil-python/docs/conf.py" 
          sed -i -E "s/^(release[[:space:]]*=[[:space:]]*['\"]).*([[:space:]]*['\"])/\1$NEW_VERSION\2/I" $CONF_PATH
          
      - name: Commit version bump
        run: |
          git config user.name "github-actions[bot]"
          git config user.email "github-actions[bot]@users.noreply.github.com"
          git add --all
          git commit -m bump

      - name: Push changes
        uses: ad-m/github-push-action@v0.6.0
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          branch: ${{ github.ref_name }}