name: Bump Version

on:
  workflow_dispatch:
    inputs:
      bump-type:
        description: 'Version bump type (major, minor, or patch)'
        required: true
        default: 'patch'
        type: choice
        options:
          - major
          - minor
          - patch

jobs:
  bump-version:
    runs-on: ubuntu-latest
    permissions:
      contents: write

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Install Rust
        uses: dtolnay/rust-toolchain@stable

      - name: Install cargo-edit
        uses: taiki-e/cache-cargo-install-action@v2
        with:
          tool: cargo-edit

      - name: Bump version and extract value
        id: bump_cargo
        run: |
          cargo set-version --bump ${{ github.event.inputs['bump-type'] }}
          NEW_VERSION=$(grep -m 1 '^version' wingfoil/Cargo.toml | awk -F'"' '{print $2}')
          echo "new_version=$NEW_VERSION" >> $GITHUB_OUTPUT

      - name: Update conf.py with new version
        run: |
          NEW_VERSION="${{ steps.bump_cargo.outputs.new_version }}"
          CONF_PATH="wingfoil-python/docs/conf.py" 
          sed -i "s/^release = .*/release = '$NEW_VERSION'/" $CONF_PATH
          
      - name: Commit version bump
        run: |
          git config user.name "github-actions[bot]"
          git config user.email "41898282+github-actions[bot]@users.noreply.github.com"
          git add .
          git commit -m "bump: ${{ github.event.inputs['bump-type'] }} version to ${{ steps.bump_cargo.outputs.new_version }}"

      - name: Push changes
        run: git push
