name: Build and Publish Python Wheels to Test PyPI

on:
  workflow_dispatch:   # Manual trigger from GitHub UI

jobs:
  build-and-upload:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest] #, macos-latest, windows-latest]
        python-version: [3.11] # , 3.12]
    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Setup Python
        uses: actions/setup-python@v4
        with:
          python-version: ${{ matrix.python-version }}

      - name: Install Rust
        uses: actions-rs/toolchain@v1
        with:
          toolchain: stable
          override: true

      - name: Install maturin
        run: pip install maturin

      - name: Build wheel
        run: |
          maturin build --release --strip --manylinux off -o wheelhouse

      - name: List built wheels
        run: ls -lh wheelhouse

      - name: Upload to Test PyPI
        uses: pypa/gh-action-pypi-publish@v2
        with:
          repository-url: https://test.pypi.org/legacy/
          user: __token__
          password: ${{ secrets.TEST_PYPI_API_TOKEN }}
